<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="currentStatus.status">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 -align-right">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="logOut()">Logout</button>&nbsp;
    </form>
  </div>
</nav>

<div class="row">
 <div class="col-md-3">
   <div class="sidenav">
     <a (click)="brandAdd()">Brand</a>
     <a href="#">Services</a>
     <a href="#">Clients</a>
     <a href="#">Contact</a>
   </div>
 </div>
  <div class="col-md-9">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
