
<div class="wrapper fadeInDown mt-5 ">
  <div class="row" style="height:100px"></div>
  <div id="formContent">
    <div class="fadeIn first">
     <h1>Login Inventory System</h1>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm)">
      <input [(ngModel)]="user.email" type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
      <input [(ngModel)]="user.password" type="text" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>
    <div id="formFooter">
      <a class="underlineHover" href="" [routerLink]="['']">Dont Have An Account?</a>
    </div>
  </div>
</div>
