
<div class="card bg-light">
  <div class="card-body mx-auto">
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <form (ngSubmit)="createAccount()">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input [(ngModel)]="user.firstName" name="firstName" class="form-control" placeholder="First Name" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-users"></i> </span>
        </div>
        <input [(ngModel)]="user.lastName" name="lastName" class="form-control" placeholder="Last Name" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input [(ngModel)]="user.email" name="email" class="form-control"  placeholder="Email address" type="email">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
        </div>
        <select [(ngModel)]="phone" name="phone" class="custom-select" style="max-width: 120px;">
          <option selected="+88017">+88017</option>
          <option value="+88018">+88018</option>
          <option value="+88019">+88019</option>
          <option value="+88015">+88015</option>
        </select>
        <input [(ngModel)]="user.phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone number" type="text">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-building"></i> </span>
        </div>
        <select [(ngModel)]="user.role" name="role" class="form-control">
          <option selected="">ROLE</option>
          <option value="ADMIN">ADMIN</option>
          <option value="USER">USER</option>
        </select>
      </div> <!-- form-group end.// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input [(ngModel)]="user.password" name="password" class="form-control" placeholder="Create password" type="password"
               (input)="passwordErrorChecker(user.password)">
      </div> <!-- form-group// -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input [(ngModel)]="rematch" name="rematch" class="form-control" placeholder="Repeat password" type="password" (input)="matchPass(rematch)">
      </div> <!-- form-group// -->
      <div class="alert alert-danger" role="alert" *ngIf="message">
        {{message}}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="!notMatched">
        Password not Matched
      </div>
      <div class="alert alert-success" role="alert" *ngIf="matched">
        Password Matched
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-check"></i> </span>
        </div>
        <label>Enable </label>
        <input [(ngModel)]="user.enabled" name="enabled" class="form-control" placeholder="Enable" type="checkbox">
      </div> <!-- form-group// -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
      </div> <!-- form-group// -->
      <p class="text-center">Have an account? <a href="">Log In</a> </p>
    </form>
  </div>
</div>
