<div class="container-fluid">
  <div class="custom-table">
    <div class="table-head">
      <div class="row">

        <div class="col">Brand Name</div>
        <div class="col">Brand Description</div>
        <div class="col">App Brand Id</div>
        <div class="col">Brand Comment</div>
      </div>
    </div>

    <div class="table-body">
      <div *ngFor="let brand of brands|paginate:{itemsPerPage: size,currentPage: page,totalItems: totalElements}"
           class="row">

        <div class="col"><a (click)='editBrand(brand.brandId)' title="Edit">{{brand.brandNm}}</a></div>
        <div class="col">{{brand.brandDescr}}</div>
        <div class="col">{{brand.appBrandId}}</div>
        <div class="col">{{brand.brandCmnt}}</div>
      </div>
    </div>
    <!-- <pagination-controls
                           (pageChange)="page = $event"
     &lt;!&ndash;(pageChange)="pageChanged($event)"&ndash;&gt;
     >
     </pagination-controls>-->

    <pagination-controls
      (pageChange)="page = $event; pageChangeFire(page)"
      nextLabel="Next"
      previousLabel="Previous"
      responsive="true"
      screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</div>
