<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="currentStatus.status">
        <a class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown" *ngIf="currentStatus.status">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 -align-right">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="currentStatus.status" (click)="logOut()">Logout</button>&nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="!currentStatus.status" (click)="signUp()">SignUp</button>&nbsp;
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="!currentStatus.status" (click)="signIn()">SignIn</button>&nbsp;
    </form>
  </div>
</nav>



<router-outlet></router-outlet>
