
<div class="container-fluid">

  <h1 *ngIf="!editBol">Change Currency Info</h1>
  <h1 *ngIf="editBol">Add New Currency</h1>

  <form #currencyForm="ngForm" (ngSubmit)="addCurrency()" class="form-horizontal" name="currencyForm" novalidate>

    <div class="row">
      <div class="col-md-4" >
        <div class="form-group" hidden>
          <input [(ngModel)]="currency.currId" class="form-control" readonly id="currency_id"
                 name="currency_id" type="text">
        </div>
        <div class="form-group">
          <label class="control-label">Currency Name</label>
          <input [(ngModel)]="currency.currNm" class="form-control" id="currNm"
                 name="currNm" placeholder="Currency name"  type="text">
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label"> Currency Code</label>
          <input [(ngModel)]="currency.currCode" class="form-control" id="currCode" name="currCode"
                 placeholder="Currency Code"  type="text">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Alpha Code</label>
          <input [(ngModel)]="currency.isoAlphaCode" class="form-control" id="isoAlphaCode" name="isoAlphaCode"
                    placeholder="Alpha Code"  type="text">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Number Code</label>
          <input [(ngModel)]="currency.isoNumCode" class="form-control" id="isoNumCode" name="isoNumCode"
                    placeholder="Number Code"  type="text">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Image</label>
          <!--<input [(ngModel)]="currency.imagePath" class="form-control" id="imagePath" (change)="handleFileInput($event)"-->
                 <!--name="imagePath" type="file">-->
          <input type='file' (change)="onFileSelected($event)" name="imagePath" id="imagePath1"/>
          <input type='file' (change)="onFileSelected($event)" name="imagePath" id="imagePath2"/>
          <input type='file' (change)="onFileSelected($event)" name="imagePath" id="imagePath3"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <img [src]="url" height="200"> <br/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit">Submit</button>
          &nbsp;
          <button (click)="cancel(insert)"  class="btn btn-warning" type="button">Back</button>
        </div>
      </div>
    </div>
  </form>
</div>


<div class="modal fade" id="cancelModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title float-left">Cancel Notification</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>You have changes. Do you want to continue? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info float-left" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger float-right" (click)="confirmCancel()" data-dismiss="modal">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="saveModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title float-left">Save Notification</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Do you want to Save/Update ? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info float-left" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-success float-right" (click)="confirmSave()" data-dismiss="modal">
          Yes
        </button>
      </div>
    </div>
  </div>
</div>

